.git
.gitignore
.env
.env.*
!.env.example
.github
.vscode
.idea
node_modules
vendor
public/build
public/hot
storage/public
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log
*.sql
.DS_Store
Thumbs.db